{% extends '__base__.html' %}

{% block title %}评论{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            comments: data.comments,
            page: data.page
        },
        methods: {
             comment_detail: function (comment) {
                location.assign('/api/blog/' + comment.id + '/comments');
            },
            comment_action: function (comment) {
                if (confirm('确认要关闭“' + comment.title + '”的评论功能吗？')) {
                    postJSON('/api/blog/' + comment.id + '/action', function (err, r) {
                        if (err) {
                            return error(err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
}
$(function() {
    getJSON('/api/comments', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/blogs">图文</span></li>
                <li><a href="/manage/videos">视频</a></li>
                <li class="uk-active">评论</a></li>
                <li><a href="/manage/follows">我的关注</span></li>
                <li><a href="/manage/fans">我的粉丝</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1" style="display:none">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-6-10">标题</th>
                    <th class="uk-width-1-10">评论状态</th>
                    <th class="uk-width-1-10">总评论数</th>
                    <th class="uk-width-2-10" style="text-align: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="comment: comments" >
                    <td>
                        <a target="_blank" v-attr="href: '/blog/'+comment.id" v-text="comment.title"></a>
                    </td>
                    <td>
                        <span v-text="comment.commentState"></span>
                    </td>
                    <td>
                        <span v-text="comment.commentsNum"></span>
                    </td>
                    <td style="text-align: center;">
                        <a href="#0" v-on="click: comment_detail(comment)">查看</a>&nbsp;·&nbsp;
                        <a href="#0" v-on="click: comment_action(comment,0)" 
                        v-if="comment.commentState === '1'">关闭评论</a>
                        <a href="#0" v-on="click: comment_action(comment,1)" v-else>打开评论</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-component="pagination" v-with="page"></div>
    </div>
{% endblock %}